.advantage-item {
    width: 264px;
    background: #1C1C1C;
    border-radius: 8px;
}

@media (max-width: 960px) {
    .advantage-item {
        width: 436px;
        margin-bottom: 24px;
    }
}

@media (max-width: 640px) {
    .advantage-item {
        width: 288px;
        height: 306px;
        margin-bottom: 15px;
    }
}

.advantage-item__container {
    width: 88%;
    margin: 16px 16px;
}

@media (max-width: 960px) {
    .advantage-item__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 93%;
        margin-bottom: 24px;
    }
}

.advantage-item__image {
    position: relative;
    height: 170px;
    margin: 2px 0;
}

.advantage-item__image--lower {
    height: 190px;
}

@media (max-width: 960px) {
    .advantage-item__image {
        width: 94px;
        height: 142px;
    }
    .advantage-item:nth-child(3) .advantage-item__image {
        height: 130px;
    }
    .advantage-item:nth-child(4) .advantage-item__image {
        height: 150px;
    }
}

@media (max-width: 640px) {
    .advantage-item:nth-child(2) .advantage-item__image {
        height: 117px;
    }
    .advantage-item:nth-child(4) .advantage-item__image {
        height: 140px;
    }
    .advantage-item:nth-child(4) .advantage-item__text {
        width: 230px;
    }
}

@media (max-width: 320px) {
    .advantage-item:nth-child(2) {
        order: 3;
    }
    .advantage-item:nth-child(3) {
        order: 2;
    }
    .advantage-item:nth-child(4) {
        order: 4;
    }
}

.advantage-item__text {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: #DBD9D9;
}

@media (max-width: 640px) {
    .advantage-item__text {
        width: 256px;
    }
}

.advantage-item__box {
    position: absolute;
    width: 94px;
    height: 94px;
    top: 24px;
    left: 98px;
}

@media (max-width: 1280px) {
    .advantage-item__box {
        left: 87px;
    }
}

.advantage-item__cam {
    position: absolute;
    width: 96px;
    height: 82px;
    top: 15px;
    left: 67px;
}

.advantage-item__diamond {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 56px;
    left: 56px;
}

.advantage-item__car {
    position: absolute;
    width: 102px;
    height: 102px;
    top: 17px;
    left: 92px;
}

@media (max-width: 960px) {
    .advantage-item__box {
        top: 7px;
        left: -10px;
    }
    .advantage-item__cam {
        left: -10px;
        top: 5px;
    }

    .advantage-item__diamond {
        top: 8px;
        left: 10px;
    }

    .advantage-item__car {
        top: 0;
        left: -10px;
    }
}
