.seller-item {
    width: 20%;
    border: 1px solid #323131;
    box-sizing: border-box;
}

@media (max-width: 640px) {
    .seller-item {
        width: 50%;
    }
}

.seller-item__container {
    margin: 21px 12px 12px;
}

.seller-item__image {
    height: 43px;
}

.seller-item__cam, .seller-item__sell {
    margin-top: 3px;
}

.seller-item__car {
    margin-top: 5px;
}

.seller-item__text {
    margin-bottom: 11px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: #FAFAFA;
    opacity: 0.9;
}

@media (max-width: 320px) {
    .seller-item__text {
        font-size: 12px;
        line-height: 17px;
    }
}

.seller-item__number {
    font-size: 12px;
    line-height: 17px;
    letter-spacing: -0.25px;
    color: #646363
}