table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

td {
  display: table-cell;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  color: white;
  background-color: black;
  margin: 0;
}

.benefit {
  max-width: 1128px;
  margin: 0 auto;
  padding: 0 32px;
}

.benefit-table__first-column {
  width: 448px;
}

.benefit-table__second-column {
  width: 370px;
}

.benefit-table__third-column {
  width: 247px;
}

.benefit__section {
  max-width: 1128px;
}

.benefit-table__row {
  border-bottom: 1px solid #646363;
}

.benefit-table__body .benefit-table__row:last-child {
  border: none;
}

.benefit-table__row .benefit-table__cell:first-child {
  padding-left: 56px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.5px
}

@media (max-width: 1280px) {
  .benefit-table__column {
    width: 306px;
  }
  
  .benefit-table__second-column {
    width: 282px;
  }

  .benefit-table__row .benefit-table__cell:first-child {
    padding-left: 32px;
  }
}

.benefit-table__head-cell {
  text-align: left;
  padding: 9px 8px 25.5px;
}

.benefit-table__cell {
  padding: 26.5px 8px;
}
