.main-page__statistics-container {
    padding-top: 90px;
    padding-bottom: 124px;
    background: no-repeat center 70px url("../../img/chart.png");
    background-size: 1950px 620px;
}

.main-page__seller-container {
    background: no-repeat 87% -20px url("../../img/hearts.png");
}

@media (max-width: 960px) {
    .main-page__statistics-container {
        background-position: -380px 68px;
        padding-top: 75px;
    }

    .main-page__seller-container {
        background: no-repeat right 0 url("../../img/hearts-small.png");
    }
}

@media (max-width: 640px) {
    .main-page__statistics-container {
        background: no-repeat center 70px url("../../img/chart-small.png");
        padding: 3px 0 15px;
    }

    .main-page__seller-container {
        background: none;
    }
}

@media (max-width: 320px) {
    .main-page__statistics-container {
        background: no-repeat 65% 6px url("../../img/chart-smallest.png"), no-repeat 50% 45px url("../../img/ellipse.png");
    }
}

.main-page__section {
    max-width: 1130px;
    margin: 0 auto;
}

@media (max-width: 960px) {
    .main-page__section{
        max-width: 896px;
    }
}

@media (max-width: 640px) {
    .main-page__section {
        max-width: 592px;
    }
}

@media (max-width: 320px) {
    .main-page__section {
        max-width: 288px;
    }
}

.main-page__seller {
    margin-top: 30px;
}

@media (max-width: 960px) {
    .main-page__seller {
        margin-top: 46px;
    }
}

@media (max-width: 320px) {
    .main-page__seller {
        margin-top: 55px;
    }
}

.main-page__faq {
    margin-top: 127px;
    padding-bottom: 450px;
}

@media (max-width: 960px) {
    .main-page__faq {
        margin-top: 120px;
    }
}

@media (max-width: 640px) {
    .main-page__faq {
        margin-top: 60px;
    }
}

@media (max-width: 320px) {
    .main-page__faq {
        margin-top: 68px;
    }
}