*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

a:active {
  opacity: 0.5;
}

h1 {
  font-weight: bold;
  font-size: 57px;
  line-height: 73px;
  letter-spacing: -1.75px;
  color: white;
}

@media (max-width: 960px) {
  h1 {
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -1.5px;}
}

h3 {
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

body {
  position: relative;
  background-color: black;
  color: #FAFAFA;
  font-family: 'Inter', sans-serif;
}
